{% extends "registration/base.html" %}

{% block body %}
<h1>Login</h1>

{% if form.errors %}
  <p style="bold">Your username and password didn't match. Please try again.</p>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input name="username" type="text"/>
    <input name="password" type="password"/>
    <input type="submit" value="Login"/>
</form>
<a href="/">На главную</a>
<p>Не зарегистрированны?</p>
{# <p><a href="{% url 'signup' %}">Зарегистрироваться</a></p> #}

{% endblock %}
